:root {
    --color-1: #5d5c61;
    --color-2: #379683;
    --color-3: #7395ae;
    --color-4: #557a95;
    --color-5: #b1a296;
}

* {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-1);
}

header {
  background-image: url(../assets/images/innovation-management.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: flex-end; 
  background-color: rgba(167, 160, 160, 1); 

}

header h1 {
  margin-left: 21%;
  color: var(--color-3);
  font-size: 42px;
  text-shadow: 0 0 20px  rgba(0, 0, 0, 1.0);
  background-color: rgba(82, 77, 77, 0);
  border: black;
}

.nav-sidebar  {
  margin-top: 239px; 
  width: 20%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: var(--color-5);
  display: flex;
  flex-wrap: wrap;
  border-radius: 15%;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 200px;
}

.nav-sidebar ul {
background-color: inherit;
/* border-radius: 15%; */
}

.nav-sidebar ul li {
    padding: 15px 10px;
   
    font-size: 16px;
    border-radius: 15%; 
    background-color: inherit; 
}

.nav-sidebar ul li a {
    background-color: inherit;
    border-radius: 15%;
}

/* .nav-sidebar ,ul , li  { */
 /* background-color: rgba(167, 160, 160, 1); */
 /* border-radius: 10%;  */ 


.nav-sidebar a:hover {
    color: #111010;
}

#me-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-left: 12%;
  margin-top: 5%;
  border: 1.5px solid  blue;
} 

main {
  margin-left: 25%;
  color: var(--color-2);
}

main h2{
    text-shadow: 0 0 10px  rgba(0, 0, 0, 0.5);
}

hr {
  color: black;
  width: 50%;   
}

a {
  color: rgb(32, 4, 156);
}

.about-me{
    margin: 50px 5px;

}
/* Portfolia CSS */
.portfolio {
    margin:  50px 0px 60px 0 px;
}
.projects {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
}
.projects h3{
    margin: 40px 10px 20px 10px;
    text-shadow: 0 0 10px  rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    display: flex;
    flex-wrap: wrap;
}


.projects img {
    height: 150px;
    width: 215px;
    flex-wrap: wrap;
    border: 1.5px solid black;
}

.testimonials{
    margin: 30px 0px 60px 0 ;
}


/*contac info, flexed*/
.contact {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around; 
    flex: 1.2;  
}

.contact-form h3{
    margin: 50px 0px 30px 0px;
    text-decoration: underline;
}

#contact-info {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(167, 160, 160, 1); 
}


.contact-form {
    width: 50%
}


.contact-form input,
.contact-form textarea {
  border: 1px solid;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: ;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
}


.contact-form button {
  margin: 20px 0;
  border: 1px solid;
  background:red ;
  color: ;
  text-align: center;
  padding: 15px;
  font-size: 16px;
  border-radius: 10px;

}

.contact-form button:hover {
   color: #f1f1f1;
   background-color: aquamarine; 
}

footer {
    margin: 50px 0 10px 0;
}

.contact-info {
    margin: 20px ;
    font-size: 20px;
}

.email {
    margin-left: 20px;
}

.github{
    margin-left: 60px;
}

.link{ 
    margin-left: 100px;
}

.contact-info a{
 margin-left: 20px
}


.contact-info a:hover{
    color: red;
}

footer p {
   color: var(--color-3); 
}


@media screen and (max-width: 980px) {
     header {
    padding-bottom: 0;
    justify-content: center;
    position:relative;
  }

  .nav-sidebar ul {
    background-color: none;
}

.nav-sidebar ul li {
    background-color: none;
}

.nav-sidebar ul li a {
    opacity: 0;
}
  header h1 {
    width: 100%;
    text-align: center;
  }
  .projects img {
    display: flex;
    flex-wrap: wrap;
  }

  footer h2,
  footer div {
    text-align: center;
    width: 100%;
  }
  
}

/*Media query for tablets and smaller*/
@media screen and (max-width: 768px) {
  
    header {
        background-color: none;
    }
  
    section {
    padding: 30px 15px;
  }
  img {
    display: flex;
    flex-wrap: wrap;
  }

  .projects img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  section  {
    flex: 100%;
  }
}



/*Media query for tablets and smaller*/
@media screen and (max-width: 768px) {
section {
    padding: 30px 15px;
  }
  .steps h3 {
    flex: 1 100%;
    text-align: center;
  }
  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center; 
  }
  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex: 100%;
  }
}
}
/*media query for mobile phones and smaller*/
@media screen and (min-width: 575px){
    .hero-form button {
    width: 100%;
  }
  .section-title {
    width: 95%;
  }
  .intro p {
    flex: 0 100%;
  }
  .trainer {
    flex: 0 100%;
  }
  .contact-info {
    text-align: center;
  }
  .contact-info > * {
    flex: 0 100%;
  }
  .contact-form {
    order: 3;
  }
}
